extends ../../layouts/default.pug
include ../../mixins/search.pug
include ../../mixins/addnew.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    +alert-success(3000)
    main.content-right
        .row
            .col-8.search-box
                form(
                    action=api 
                    id='single-form-search'
                    )
                    select(name='branchId' hidden)
                        option(value="" selected) Chọn chi nhánh
                    input(
                        type='text' 
                        placeholder='Phiếu đặt món...'
                        name="keyword",
                        class="form-control"
                        value=keyword
                    )
                    button(type="submit") Lọc
            .col-4  
                +addnew() 
        .table-container
            table
                thead
                    tr
                        th STT
                        th Mã phiếu
                        th Khách hàng
                        th Nhân viên
                        th Loại phiếu
                        th Trạng thái
                        th Hành động
                tbody
                    each item, index in invoices
                        tr
                            td #{index + 1}
                            td #{item.MAPHIEUDATMON}
                            td #{item.KHACHHANG}
                            td #{item.NHANVIEN}
                            td #{item.MAPHIEUDATMON[1]=="D"? "Offline": "Online"}
                            td #{item.HOADON==1? "Đã xuất HĐ": "Chưa xuất HĐ"}
                            td 
                                a(
                                    href=`${prefixAdmin}/api/v1/order-slips/detail/${item.MAPHIEUDATMON}`
                                    class="btn btn-secondary btn-sm"
                                ) 
                                    i.fa-solid.fa-circle-info
                                if(item.HOADON==0)
                                    a(
                                        href=`${prefixAdmin}/api/v1/order-slips/createInvoice/${item.MAPHIEUDATMON}`
                                        class="btn btn-primary btn-sm"
                                        onclick="return confirm('Bạn có chắc chắn muốn tạo hóa đơn cho phiếu đặt này?')"
                                        button-confirm-invoice
                                    )
                                        i.fa-solid.fa-file-invoice-dollar
                                button(
                                    class="btn btn-warning btn-sm"
                                    button-update-item
                                    button-id=item.MAPHIEUDATMON
                                ) 
                                    i.fa-solid.fa-pen-to-square
                                button(class="btn btn-danger btn-sm ml-l"
                                    button-delete-item
                                    button-id=item.MAPHIEUDATMON
                                ) 
                                    i.fa-solid.fa-trash-arrow-up
        #container-right
            // Modal Overlay
            #modalOverlay.modal-overlay
                .modal
                    button#closeModalButton.close-button(type='button') &times;
                    // Nút đóng modal
                    h3.modalTitle Thêm phiếu đặt món
                    form(
                        action=""
                        id="addPlaneForm"
                        form-create-update
                        method="POST"
                        data-path=`${prefixAdmin}/api/v1/order-slips`
                    )
                        .custom-form-row
                            .custom-form-group
                                label(for='IDKhachHang') Khách hàng
                                input#IDKhachHang(type='text' name="IDKhachHang" required='')
                            .custom-form-group
                                label(for='SoBan') Số bàn
                                input#SoBan(type='number' name="SoBan" required min=1 max=50)
                        button.btn.btn-primary.exception1(button-create) Thêm
                        button.save-button(style='display: none;' button-update) Lưu thay đổi

    form(
        action=""
        method='POST'
        id="form-delete-item"
        data-path=`${prefixAdmin}/api/v1/order-slips/delete`
        )
    script(src="/admin/js/order-slips.js")